<div class="pic-wrapper">
    <div class="picture">
        <%= image_tag 'betty.jpg' %>
    </div>
    <div class="bubble">
        <div class="pointer"></div>
 	<div class="pointerBorder""></div>
    </div>
</div>

<h1>Goodbye Bernardo!!</h1>
<div class="countdown" data-countdown="2015/07/24 18:00"></div>
<script type="text/javascript">
    
    var flashEachMinutes = function(timestamp) {
        var currentSeconds = new Date(timestamp).getSeconds();
        if (currentSeconds === 0) {
          $("h1").flash("flash", 1);
        }
    };

    var randonGifs = function() {
        var className = $('#container-gif').prop('class');
        var indexGf = className.substr(2,1);
        
        console.log('index: ' + parseInt(indexGf) );
        
        switch(parseInt(indexGf)) {
            case 0:
                $('#container-gif').removeClass('bg0').addClass('bg1');
                break;
            case 1:
                $('#container-gif').removeClass('bg1').addClass('bg2');
                break;
            case 2:
                $('#container-gif').removeClass('bg2').addClass('bg3');
                break;
            case 3:
                $('#container-gif').removeClass('bg3').addClass('bg4');
                break;
            case 4:
                $('#container-gif').removeClass('bg4').addClass('bg5');
                break;
            case 5:
                $('#container-gif').removeClass('bg5').addClass('bg0');
                break;
            default:
                $('#container-gif').attr('class', '').addClass('bg0');
        }
    };

    // setInterval(function() {
    //     runned = false;
    //     if (runned == false) {
    //         runned = true;
    //         randonGifs();
    //     }
    // }, 10000);

    $('[data-countdown]').each(function() {
        var $this = $(this), 
            finalDate = $(this).data('countdown');

        $this.countdown(finalDate, function(event) {            
            $this.html(event.strftime('%Dd %Hh %Mm %Ss'));
            flashEachMinutes(event.timeStamp);
        });
    });
</script>