a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
  line-height: 1.42857143;
  color: #fff;
  background: #222;
}

.site-wrapper {
  position: relative;
  z-index: 10;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: image-url("giphy.gif") no-repeat center;
  background-size: auto 110%;
  z-index: 1;
  opacity: 0.4;
}

h1 {
  font-size: 6em;
}

.picture {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.picture > img {
  display: block;
  width: 100%;
}

.countdown {
  padding: 40px 0;
  font-size: 12em;
  color: #efefef;
  font-weight: bold;
  text-shadow: -2px -2px 0 rgba(0,0,0,1);
  background: rgba(0,0,0,0.6);
}

nav, footer { 
  padding: 15px 0;
  font-size: 1.5em; 
  color: #ccc;
}

@media (max-width: 970px) {

  .countdown {
    font-size: 9em;
  }

}

@media (max-width: 768px) {

  h1 {
    font-size: 5em;
  }

  .countdown {
    font-size: 6em;
  }

}

@media (max-width: 495px) {

  h1 {
    font-size: 4em;
  }

  .countdown {
    font-size: 5em;
  }

}

@media (max-width: 395px) {

  h1 {
    font-size: 3em;
  }

  .countdown {
    font-size: 4em;
  }

}

@media (max-width: 340px) {

  h1 {
    font-size: 2em;
  }

  .countdown {
    font-size: 3.5em;
  }

}