<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Good Bye Betty!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="site-wrapper">
      <div class="cover-container">
        <nav>
          <a target="_blank" href="https://www.facebook.com/bernardosalada">Facebook</a>
        </nav>
        <div class="inner cover">
          <%= yield %>
        </div>
        
        <footer class="mastfoot">Good Luck!</footer>
      </div>
    </div>

    <div id="container-gif" class="bg5"></div>
</body>
</html>